<!doctype html>
<html>
  
  <head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  
   <body style="padding-top: 50px">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="navbar-content">
            <ul class="nav  pull-left">
              <li class="active">
                <a href="#">Home</a> 
              </li>
              <li class="unactive">
                <a href="#">Login</a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="page-header">
        <h1>Login</h1>
      </div>
      <p></p>
      <div class="row">
        <div class="span12">
          <span class="help-inline">E-mail address</span>
          <br>
          <input class="input-large" type="email">
          <br>
          <span class="help-inline">Password</span>
          <br>
          <input class="input-large" type="password">
          <br>
          <a class="btn btn-primary">Sign in</a>
          <a href="http://www.google.com">Register here</a> 
        </div>
      </div>
      <p></p>
    </div>
  </body>

</html>